# Images
*.png
*.jpg
*.jpeg
*.gif

# python
*.pyc
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints
search_broken.ipynb
Registration.ipynb
Untitled*.ipynb

# VSCode
.vscode/

# Papers
RegistationPapers/
*.pdf

# Trials scripts
Static_Iterative_Registration.py
